
@import 'utils';
.post-page{
  display: flex;
  justify-content: center;
  position: relative;
  top: -900px;
  .post-wrapper {
    position: relative;
    // left: 10%;
    width: 70%;
    border-radius: 10px;
    background-color: white;
    min-height: 100vh;
    // text-align: center;
    .post-btns {
      float: right;
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      padding: 20px 0px 20px 0px;
      width: 50%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background: $oc-gray-0;
      margin-left: 10px;
    }
    button{
      width: 6rem;
    }
    
  }
}