@import 'utils';


  
  .post-list {
    position: absolute;
    top: 480px;
    left: 12.5%;
    width: 75%;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    z-index: 99;
    a {
      text-decoration: none;
    }
    .post-item {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.1rem;
      transition: all .15s ease-in;
      border-radius: 10px;
      background-color: $oc-gray-0;
      @include material-shadow(3, 0.5);
  
      img {
        border-radius: 100%;
        width: 180px;
        height: 180px;
      }
  
      &:hover {
        background-color: $oc-orange-0;
      }
  
      hr {
        width: 85%;
        color: $oc-gray-2;
      }
  
      .product-info+.product-info {
        margin-top: 15px;
      }
    }  
  }

